html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 81.7%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

img { border-style: none; }

.header__wrap { position: relative; }

.header__wrap::after {
  background-color: #c8dbfb;
  border-radius: 15px;
  content: "";
  display: block;
  height: 28px;
  left: 9px;
  opacity: .7;
  position: absolute;
  top: 6px;
  width: 28px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

.menu,
.section__block_position_center,
.section__button { font-family: 'Roboto', sans-serif; }

.main__link,
.section__block_position_top { font-family: 'PT Serif', serif; }

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  min-height: 89px;
}

.header__main { padding-bottom: 3px; }

.main,
.carousel {
  display: flex;
  justify-content: center;
  min-width: 15%;
}

.main__link {
  font-size: 24px;
  padding: 5px 0 0 16px;
}

.menu {
  min-width: 24.5%;
  position: relative;
}

.menu__link {
  font-size: 18px;
  margin-right: 26px;
  position: relative;
}

.menu__link::after {
  background-color: #0056ec;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .5s;
  width: 100%;
}

.menu__link:hover { opacity: .5; }

.menu__link:hover::after, .menu__link_active::after { opacity: 1; }

.menu__link:last-child { margin-right: 0; }

.section {
  display: flex;
  height: 370px;
  margin-bottom: 60px;
}

.section__wrap_position_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

* {
  border: 1px dashed red;
}