* { border: 1px dashed red; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body { margin: 0 auto; }

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a { background-color: transparent; }

img { border-style: none; }

button {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

.menu,
.section__block_position_center,
.section__button { font-family: 'Roboto', sans-serif; }

.main__link,
.section__block_position_top { font-family: 'PT Serif', serif; }

body {
  min-height: 100vh;
  width: 81.7%;
}

.header {
  align-items: center;
  display: flex;
  min-height: 89px;
  justify-content: space-between;

}

.main {
  display: flex;
  justify-content: center;
  min-width: 15%;
}

.menu {
  display: flex;
  justify-content: space-between;
  min-width: 24.5%;
}
