html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 79.8%;
}

h1 {
  line-height: 1.29;
  font-size: 3.5vw;
  margin-bottom: 39px;
}

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

b { background-color: #ecf3ff; }

img { border-style: none; }

button {
  background-color: #0056ec;
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-size: 1vw;
  height: 3vw;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  width: 14.2vw;
}

.menu,
.section__block_position_center,
.section__button { font-family: 'Roboto', sans-serif; }

.main__link,
.section__block_position_top { font-family: 'PT Serif', serif; }

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 110px;
}

.header__wrap { position: relative; }

.header__wrap::after {
  background-color: #c8dbfb;
  border-radius: 15px;
  content: "";
  display: block;
  height: 28px;
  left: 9px;
  opacity: .7;
  position: absolute;
  top: 10px;
  width: 28px;
}

.header__img {
  position: relative;
  top: 3px;
}

.main {
  display: flex;
  margin-right: auto;
  min-width: 12%;
}

.main__link {
  font-size: 24px;
  padding: 5px 0 4px 18px;
}

.menu {
  min-width: 385px;
  padding-top: 6px;
  position: relative;
}

.menu__link {
  font-size: .93vw;
  margin-right: 23px;
  position: relative;
}

.menu__link::after {
  background-color: #0056ec;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .5s;
  width: 100%;
}

.menu__link:hover { opacity: .5; }

.menu__link:hover::after, .menu__link_active::after { opacity: 1; }

.menu__link:last-child { margin-right: 0; }

.section {
  background: url('../images/logo_section.svg') no-repeat right 132px;
  background-size: 51% 83%;
  height: 33.3vw;
  margin-bottom: 60px;
  padding-top: 150px;
}

.section__wrap {
  margin-bottom: 14vw;
  width: 521px;
}

.section__block_position_center {
  font-size: 1.14vw;
  margin-bottom: 43px;
  margin-top: 0;
  width: 22vw;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel__button {
  background-color: #c8dbfb;
  border-radius: 5px;
  height: 8px;
  margin-right: 3px;
  width: 8px;
}

.carousel__button:hover { cursor: pointer; }
