html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 79.8%;
}

h1 {
  line-height: 1.29;
  font-size: 3.5vw;
  margin-bottom: 39px;
}

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

b { background-color: #ecf3ff; }

img { border-style: none; }

button {
  background-color: #0056ec;
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-size: 1vw;
  height: 3vw;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  width: 14.2vw;
}

.menu,
.section__block_position_center,
.section__button { font-family: 'Roboto', sans-serif; }

.main__link,
.section__block_position_top { font-family: 'PT Serif', serif; }

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 110px;
}

.header__wrap { position: relative; }

.header__wrap::after {
  background-color: #c8dbfb;
  border-radius: 15px;
  content: "";
  display: block;
  height: 28px;
  left: 9px;
  opacity: .7;
  position: absolute;
  top: 10px;
  width: 28px;
}

.header__img {
  position: relative;
  top: 3px;
}

.main {
  display: flex;
  margin-right: auto;
  min-width: 12%;
}

.main__link {
  font-size: 24px;
  padding: 5px 0 4px 18px;
}

.menu {
  /* min-width: 20vw; */
  padding-top: 6px;
  position: relative;
}

.menu__link {
  font-size: .93vw;
  margin-right: 23px;
  position: relative;
}

.menu__link::after {
  background-color: #0056ec;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .5s;
  width: 100%;
}

.menu__link:hover { opacity: .5; }

.menu__link:hover::after, .menu__link_active::after { opacity: 1; }

.menu__link:last-child { margin-right: 0; }

.section {
  background: url('../images/logo_section.svg') no-repeat right 132px;
  background-size: 51% 83%;
  height: 33.3vw;
  margin-bottom: 60px;
  padding-top: 150px;
}

.section__wrap {
  margin-bottom: 14vw;
  width: 28vw;
}

.section__block_position_center {
  font-size: 1.14vw;
  margin-bottom: 43px;
  margin-top: 0;
  width: 22vw;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel__button {
  background-color: #c8dbfb;
  border-radius: 5px;
  height: 8px;
  margin-right: 3px;
  width: 8px;
}

.carousel__button:hover { cursor: pointer; }

@media(max-width: 1367px) {
  body { width: 68.1%; }

  .menu__link { margin-right: 28px; }

  .menu__link:last-child { margin-right: 5px; }

  .section {
    background-position: right 85px;
    background-size: 56% 83%;
    height: 34vw;
    padding-top: 63px;
  }

  .section__wrap {
    margin-bottom: 10.7vw;
    width: 30vw;
  }

  .section__block_position_top {
    letter-spacing: 1.2px;
    line-height: 1.35;
    margin-bottom: 44px;
  }

  .section__block_position_center {
    font-size: 1.32vw;
    margin-bottom: 43px;
    width: 26vw;
  }

  .section__button {
    border-radius: 4px;
    height: 3.2vw;
    width: 15.4vw;
  }
}

@media(max-width: 1025px) {
  body { width: 91.3%; }

  .menu__link {
    font-size: 1.3vw;
    margin-right: 24px;
  }

  .section {
    background-size: 55% 84%;
    height: 45vw;
  }

  .section__wrap {
    margin-bottom: 14.3vw;
    width: 39vw;
  }

  .section__block_position_top {
    font-size: 4.7vw;
    margin-bottom: 40px;
  }

  .section__block_position_center {
    font-size: 1.77vw;
    width: 35vw;
  }

  .section__button {
    font-size: 1.4vw;
    height: 4.2vw;
    width: 20.6vw;
  }
}
