html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 79.8%;
}

h1 {
  line-height: 1.29;
  font-size: 3.5vw;
  margin-bottom: 39px;
}

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

b { background-color: #ecf3ff; }

img { border-style: none; }

button {
  background-color: #0056ec;
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-size: 1vw;
  height: 3vw;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  width: 14.2vw;
}

.menu,
.section__block_position_center,
.section__button { font-family: 'Roboto', sans-serif; }

.main__link,
.section__block_position_top { font-family: 'PT Serif', serif; }

.header {
  align-items: center;
  display: flex;
  min-height: 110px;
}

.header__wrap { position: relative; }

.header__wrap::after {
  background-color: #c8dbfb;
  border-radius: 15px;
  content: "";
  display: block;
  height: 28px;
  left: 9px;
  opacity: .7;
  position: absolute;
  top: 10px;
  width: 28px;
}

.header__img {
  position: relative;
  top: 3px;
}

.main {
  display: flex;
  margin-right: auto;
  min-width: 12%;
}

.main__link {
  font-size: 24px;
  padding: 5px 0 4px 18px;
}

.menu {
  padding-top: 6px;
  position: relative;
}

.menu__link {
  font-size: .93vw;
  margin-right: 23px;
  position: relative;
}

.menu__link::after {
  background-color: #0056ec;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .5s;
  width: 100%;
}

.menu__link:hover { opacity: .5; }

.menu__link:hover::after, .menu__link_active::after { opacity: 1; }

.menu__link:last-child { margin-right: 0; }

.burger { display: none; }

.section {
  background: url('../images/logo_section.svg') no-repeat right 85px;
  background-size: 50.5% 79%;
  height: 43.3vw;
  padding-top: 150px;
}

.section__wrap {
  margin-bottom: 14vw;
  width: 28vw;
}

.section__block_position_center {
  font-size: 1.14vw;
  margin-bottom: 43px;
  margin-top: 0;
  width: 22vw;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel__button {
  background-color: #c8dbfb;
  border-radius: 5px;
  height: 8px;
  margin-right: 3px;
  width: 8px;
}

.carousel__button:hover { cursor: pointer; }

@media(max-width: 1367px) {
  body { width: 68.1%; }

  .menu__link { margin-right: 28px; }

  .menu__link:last-child { margin-right: 5px; }

  .section {
    background-position: right 30px;
    background-size: 55.5% 84%;
    padding-top: 63px;
  }

  .section__wrap {
    margin-bottom: 10.7vw;
    width: 30vw;
  }

  .section__block_position_top {
    letter-spacing: 1.2px;
    line-height: 1.35;
    margin-bottom: 44px;
  }

  .section__block_position_center {
    font-size: 1.32vw;
    margin-bottom: 43px;
    width: 26vw;
  }

  .section__button {
    border-radius: 4px;
    height: 3.2vw;
    width: 15.4vw;
  }
}

@media(max-width: 1025px) {
  body { width: 91.3%; }

  .menu__link {
    font-size: 1.3vw;
    margin-right: 24px;
  }

  .section {
    background-size: 55% 85%;
    height: 57vw;
  }

  .section__wrap {
    margin-bottom: 14.3vw;
    width: 39vw;
  }

  .section__block_position_top {
    font-size: 4.7vw;
    margin-bottom: 40px;
  }

  .section__block_position_center {
    font-size: 1.77vw;
    width: 35vw;
  }

  .section__button {
    font-size: 1.4vw;
    height: 4.2vw;
    width: 20.6vw;
  }
}

@media(max-width: 769px) {
  .header__img,
  .header__wrap::after {
    height: 3.6vw;
    width: 3.6vw;
  }

  .main__link {
    font-size: 20px;
    padding: 7px 0 0px 2.6vw;
  }

  .menu {
    padding-top: 8px;
  }

  .menu__link {
    font-size: 2vw;
    margin-right: 2vw;
  }

  .menu__link:last-child {
    margin-right: 0;
  }

  .section__wrap { width: 36vw; }

  .section__block_position_top {
    font-size: 4vw;
    margin-bottom: 5vw;
  }

  .section__block_position_center { margin-bottom: 5vw; }

  .carousel__button {
    height: 1.1vw;
    width: 1.1vw;
  }
}

@media(max-width: 376px) {
  body { width: 44.3%; }

  .header {
    align-items: flex-end;
    min-height: 29px;
  }

  .main { min-width: auto; }

  .header__wrap {
    bottom: 3px;
    left: 1px;
  }

  .header__wrap::after {
    left: 4px;
    top: 8px;
  }

  .main__link,
  .menu,
  .carousel { display: none; }

  .burger,
  .burger__line { display: block; }

  .burger {
    bottom: 2px;
    position: relative;
    right: 1px;
  }

  .burger__line {
    background-color: #0056ec;
    margin-bottom: 2px;
    height: 2px;
    width: 3.2vw;
  }

  .section {
    background-size: 84% 52%;
    background-position: center top;
    height: 76vw;
    padding-top: 0;
  }

  .section__wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 71%;
  }

  .section__block_position_top {
    letter-spacing: 0;
    margin-bottom: 4.5vw;
    padding-top: 35.2vw;
    text-align: center;
  }

  .section__block_position_center {
    font-size: 2vw;
    margin: 0 auto 3.6vw;
    line-height: 1.2;
    letter-spacing: .2px;
    text-align: center;
    width: auto;
  }

  .section__button {
    border-radius: 1px;
    font-size: 2vw;
    height: 5.7vw;
    width: 28vw;
  }
}
